# Configurações do Banco de Dados PostgreSQL (Porta 5433)
DATABASE_URL=postgresql+psycopg://postgres:admin@127.0.0.1:5433/fintrack_db
DB_HOST=127.0.0.1
DB_PORT=5433
DB_NAME=fintrack_db
DB_USER=postgres
DB_PASSWORD=admin

# Chave da API do Google Gemini
# Obtenha sua chave no Google AI Studio (https://aistudio.google.com/)
GEMINI_API_KEY=


# Configurações do Servidor Flask
PORT=5500
DEBUG=True
